html,
body {
  background-color: dodgerblue;
}
.nerdy-pen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
  &__text {
    color: #fff;
   font-family: 'Roboto', sans-serif;
    padding: 1em 2em;
    text-align: center;
    font-size: 3.5em;
  }
}
